@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

* {
  font-family: 'Quicksand', sans-serif;
  background: #F0F0F0;
}

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
}

body {
  margin: 0;
  padding: 0;
}

.addTask {
  height: 30vh;
  background-color: #213555;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addTask input {
  height: 25px;
  width: 20%;
  border-radius: 10px;
  margin: 2px;
}

button.add {
  height: 30px;
  border-radius: 10px;
  background-color: orangered;
  margin: 2px;
}

.list {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 50px;
  flex-direction: column;
}

.task {
  width: 500px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
}

.task button {
  width: auto;
  /* height: 20px; */
  padding: 5px;
  margin-left: 20px;
  text-align: center;
  border-radius: 5px;
  background-color: #F0F0F0;
}
